venv
.idea
.ipynb_checkpoints
/data/
results.json

# Test coverage
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
.pytest_cache/
.tox/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
logs/
